[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-core = "*"
dbt-databricks = "*"
dbt-adapters = "1.15.3"

[dev-packages]
dbt-autofix = "*"
pytest = "*"
pytest-cov = "*"
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.13"
